<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Hello <%= @stylist.name %></h1>

<h3><%= @stylist.clients.size %> Clients:</h3>

<% @stylist.clients.each do |client| %>
  <a href="/clients/<%= client.id %>"><%= client.name %></a>
  <br></br>
<% end %>
<a href="/clients/new">Add New Client</a>
<br></br>
<a href="/logout">Log Out</a>
